body {
  background-color: black;
}

/*Index*/
  .name {
    width: 1100px;
    height: 146px;
    margin-left: 10%;
  }

  .nameheader {
  margin-top: 300px;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

.col-sm-6 a {
  text-decoration: none;
}

.index_links .left {
font-family: 'Cinzel', serif;
color: #EDC9AF;
font-size: 3em;
text-align: center;
margin-left: 200px;
animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

.index_links .right {
font-family: 'Cinzel', serif;
color: #EDC9AF;
font-size: 3em;
text-align: center;
margin-right: 200px;
animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

@media screen and (max-width: 768px) {
  .index_links .right, .index_links .left {
    font-size: 1.2em;
    margin-right: 0px;
    margin-left: 0px;
  }
  }

/*Home*/
/*Header*/

.navbar-fixed-top {
  background-color: black;
  height: 120px;
  text-align: center;
  color: white;
}

.logo {
  height: 147px;
  width: 233px;
  padding-top: 15px;
  animation: fadein 20s;
  -moz-animation: fadein 20s; /* Firefox */
  -webkit-animation: fadein 20s; /* Safari and Chrome */
  -o-animation: fadein 20s; /* Opera */
}

/*Main Body*/
.main {
  padding-top: 200px;
  height: 300px;
}

.main h1 {
  color: #EDC9AF;
  font-family: 'Cinzel', serif;
  font-size: 1.8em;
}

.row .about-right {
  text-align: right;
  color: #EDC9AF;
  height: 300px;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.row .about-right p {
  text-align: right;
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 2;
}

.row .skills-middle {
  text-align: center;
  color: #EDC9AF;
  height: 300px;
  animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

.row .skills-middle p {
  text-align: center;
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 2;
}

.row .education-left {
  text-align: left;
  color: #EDC9AF;
  height: 300px;
  animation: fadein 15s;
  -moz-animation: fadein 15s; /* Firefox */
  -webkit-animation: fadein 15s; /* Safari and Chrome */
  -o-animation: fadein 15s; /* Opera */
}

.row .education-left p {
  text-align: left;
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
    .row .about-right, .row .about-right p {
  text-align: center;
}

.row .skills-middle, .row .skills-middle p {
  text-align: center;
}

.row .education-left, .row .education-left p {
  text-align: center;
}

.main .row {
  height: 1100px;
}

}

/*Footer*/

.navbar-fixed-bottom {
  background-color: black;
  height: 120px;
  text-align: center;
  padding-top: 40px;
  color: #EDC9AF;
  border-top: 1px solid #EDC9AF;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.navbar-fixed-bottom p {
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
  color: #EDC9AF;
}

.nav>li>a:focus, .nav>li>a:hover, .nav a {
  background-color: black;
  color: #EDC9AF;
}

@media screen and (max-width: 768px) {
  .navbar-fixed-bottom p {
    font-size: 1em;
  }
  }