
html {
  height: 100%;
}

body {
  height: 100%;
}

/*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*//*WIDGET*/

#wrap {
  width: 300px;
  height: 410px;
  background-color: white;
  border: solid black 1px;
  margin: auto;
}

.logodiv {
  text-align: center;
  padding: 10px 0px 5px 0px;
  border-bottom: solid black 1px;
}

.header {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  letter-spacing: 1px;
  line-height: 15px;
}

.span {
  font-family: 'Georgia';
  font-style: italic;
  color: #711781;
}

.buttondiv {
  text-align: center;
}

.btn1 {
  background-color: #FF358B;
  border-style: none;
  padding: 10px 15px;
}

.uploadbtn a {
  color: white;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 3px;
}

.uploadbtn a:hover {
  text-decoration: none;
}

.btn1:hover {
  background-color: #E12C79;
}

.image {
  margin: auto;
}

.carousel-control.left {
  background-image: none;
  margin-top: 50px;
}

.carousel-control.right {
  background-image: none;
  margin-top: 50px;
}

.carousel-caption1 {
  position: initial;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 15px;
  text-shadow: none;
  color: black;
  visibility: hidden;
}

.carousel-inner {
  margin-top: 20px;
}

.info {
  width: 300px;
  margin: auto;
  padding-top: 50px;
}

.picture {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-image: url("../img/Girl.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.color1 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: pink;
  margin-top: 15px;
}

.color2 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin-top: 15px;
}

.color3 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: tan;
  margin-top: 15px;
}

.color4 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin-top: 15px;
}

.attribute {
  font-family: 'Georgia';
  font-style: italic;
  font-weight: 300;
  font-size: 10px;
  margin-top: 5px;
}

.matchtext {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 20px auto 25px auto;
  line-height: 20px;
}

.her {
  font-family: 'Georgia';
  font-style: italic;
  color: #711781;
}

.yours {
  font-family: 'Georgia';
  font-style: italic;
  color: #FF358B;
}



/*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*//*UPLOAD*/

.header2 {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 1px;
  line-height: 16px;
}

.blue-btn:hover,
.blue-btn:active,
.blue-btn:focus,
.blue-btn {
  background-color: #711781;
  color: #27a9e0;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none !important;
  padding: 10px 20px;
  border-radius: 0px;
}

.uploadtext {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  height: 43px;
  margin-top: 0;
}

.fileUpload input.uploadlogo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 42px;
}


/*Chrome fix*/

input::-webkit-file-upload-button {
  cursor: pointer !important;
}

.fileUpload blue-btn btn width100 {
  width: 200px;
}


.file {
  text-align: center;
  margin-top: 60px;
}

.buttondiv2 {
  text-align: center;
  margin-top: 39px;
}

/*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*//*MATCHES*/

.carousel-caption {
  position: initial;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 18px;
  text-shadow: none;
  color: black;
}

.info2 {
  width: 300px;
  margin: auto;
  padding-top: 50px;
}

.matchtext2 {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  margin: 15px auto 20px auto;
}

.btn2 {
  background-color: #FF358B;
  border-style: none;
  padding: 10px 15px;
  margin-top: 15px;
}

/*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*//*REUPLOAD*/

.cancel {
  color: red;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  margin-top: 50px;
}

/*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*//*SIGNIN*/

.facebook {
  background-color: #3b5998;
  border-style: none;
  padding: 10px 15px;
}

.form-control {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.buttondiv3 {
  text-align: center;
  margin-top: 20px;
}

/*COLOR SIGNATURE*//*COLOR SIGNATURE*//*COLOR SIGNATURE*//*COLOR SIGNATURE*//*COLOR SIGNATURE*//*COLOR SIGNATURE*//*COLOR SIGNATURE*/

.header3 {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 1px;
  line-height: 16px;
}

.picture2 {
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-image: url("../img/Girl.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px auto;
}

.info3 {
  width: 300px;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.info4 {
  width: 300px;
  margin: auto;
  padding-top: 10px;
  text-align: center;
}

.color5 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: pink;
  margin: auto;
}

.color6 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin: auto;
}

.color7 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: tan;
  margin-top: 25px;
  margin: 15px auto 0px auto;
}

.color8 {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
  margin-top: 25px;
  margin: 15px auto 0px auto;
}

.buttondiv4 {
  text-align: center;
  margin-top: 30px;
}