@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 100%;
  height: 800px;
  margin: 0 auto 0 0;
}

#left {
  height: 800px;
  width: 330px;
  float: left;
  margin: 0;
  background-image: url("../images/rockywall.png");
  z-index: 1;
  color: red;
  border-right: 1px dotted black;
  box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 3px 0px 10px 0px rgba(0,0,0,0.3);

}

#right {
  height: 800px;
  width: 1043px;
  margin: 0px 0px 0px 5px;
  background-color: white;
  z-index: -5;
  top: 0;
  left: 0;
  overflow: auto;
  float: right;
}

ul {
  width: 200px;
  height:300px;
  margin: 100px auto;
}

ul li {
  color: black;
  font-size: 50px;
  padding-bottom: 25px;
}

a:visited, a:active, a:hover, a:link {
  text-decoration: none;
}

#post1 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 15px 0px 10px 0px;
}

#post2 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

#post3 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

#post4 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

#post5 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

#post6 {
  height: 770px;
  width: 1030px;
  background-color: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 20px;
}