body {
  background-color: black;
}

/*Home*/

.navbar-fixed-top {
  background-color: black;
  color: white;
  height: 120px;
  text-align: center;
}

.logo {
  height: 147px;
  padding-top: 15px;
  width: 233px;
  animation: fadein 20s;
  -moz-animation: fadein 20s; /* Firefox */
  -webkit-animation: fadein 20s; /* Safari and Chrome */
  -o-animation: fadein 20s; /* Opera */
}

/*Main Body*/
.main {
  height: 300px;
  padding-top: 200px;
}

.main h1 {
  color: #EDC9AF;
  font-family: 'Cinzel', serif;
  font-size: 1.8em;
}

.row .about-right {
  color: #EDC9AF;
  height: 300px;
  text-align: right;
  animation: fadein 5s;
  -moz-animation: fadein 5s; /* Firefox */
  -webkit-animation: fadein 5s; /* Safari and Chrome */
  -o-animation: fadein 5s; /* Opera */
}

.row .about-right p {
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 2;
  text-align: right;
}

.row .skills-middle {
  color: #EDC9AF;
  height: 300px;
  text-align: center;
  animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

.row .skills-middle p {
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 2;
  text-align: center;
}

.row .education-left {
  color: #EDC9AF;
  height: 300px;
  text-align: left;
  animation: fadein 15s;
  -moz-animation: fadein 15s; /* Firefox */
  -webkit-animation: fadein 15s; /* Safari and Chrome */
  -o-animation: fadein 15s; /* Opera */
}

.row .education-left p {
  color: #EDC9AF;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.8;
  text-align: left;
}

/*Footer*/

.navbar-fixed-bottom {
  color: #EDC9AF;
  background-color: black;
  border-top: 1px solid #EDC9AF;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.navbar-fixed-bottom p {
  color: #EDC9AF;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.nav>li>a:focus, .nav>li>a:hover, .nav a {
  background-color: black;
  color: #EDC9AF;
}


/*Keyframes*/

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}