body { display: none; }

#sidebar {
border-right: 1px solid black;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.full {
  margin-left: 10%;
}

.row {
  margin-bottom: 30px;
}

.row1 {
  margin-top: 70px;
}

.nav {
  padding: 370px 0 375px 0;
}

.nav li {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}

.nav .sub {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.menu {
  text-align: right;
}

.social {
  display: inline-flex;
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
}

.social li {
  padding: 30px 30px 0px 30px;
}

.titles {
  text-align: right;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: rgba(0,0,0,.5);
  font-size: .8em;
}

.titles p {
  padding-bottom: 2px;
}