body {
  background-color: black;
}

.image_header {
  display: block;
}

.flower_header {
  width: 100%;
}

.image_full {
  padding: 0px;
}
.over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
}

.text_top {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 8em;
  margin-top: 80px;
  margin-bottom: 370px;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.text_bottom {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
  font-size: 8em;
  margin-top: 80px;
  border-top: 1px solid white;
  padding-bottom: 15px;
}