body {
  background-color: black;
}

span {
  font-size: .7em;
}

.work_one {
  margin: auto;
}

a, a:hover {
  color: #EDC9AF;
  text-decoration: none;
}

.title {
  font-family: 'Cinzel', serif;
  color: #EDC9AF;
  font-size: 1.4em;
  margin-bottom: 20px;
}

.mensa_ba {
  font-family: 'Cinzel', serif;
  color: #EDC9AF;
  font-size: 1.4em;
  margin-bottom: 20px;
  text-align: center;
}

.col-lg-6 {
  margin-top: 100px;
}

/*Footer*/

.navbar-fixed-bottom {
  color: #EDC9AF;
  background-color: black;
  border-top: 1px solid #EDC9AF;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  z-index: 1;
}

.navbar-fixed-bottom p {
  color: #EDC9AF;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.nav>li>a:focus, .nav>li>a:hover, .nav a {
  background-color: black;
  color: #EDC9AF;
}


/*Keyframes*/

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}