.exit {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 5em;
  text-align: right;
  margin-bottom: 20px;
}

.container {
  text-align: center;
  margin-top: 30px;
}

.carousel-indicators .active {
  background-color: black;
  border: 1px solid black;
}

.carousel-indicators li {
  background-color: white;
  border: 1px solid black;
}

.title1 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

.title2 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

.title3 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 2em;
  text-align: center;
}

.title4 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 4em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.iframe {
  margin-top: 100px;
}