.slider_img {
  margin: auto;
  text-align: center;
}

.carousel {
  margin-top: 30px;
}

.exit {
  font-family: 'Lato', sans-serif;
  font-size: 5em;
  text-align: right;
  font-weight: 100;
}

.photofun {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 2em;
  text-align: center;
}