@charset "UTF-8";

@font-face {
    font-family: "yellow";
    src: url("../fonts/Yellow.eot");
    src: url("../fonts/Yellow.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Yellow.woff2") format("woff2"),
         url("../fonts/Yellow.woff") format("woff"),
         url("../fonts/Yellow.ttf") format("truetype"),
         url("../fonts/Yellow.svg#Yellow") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "yellowbold";
    src: url("../fonts/YellowBold.eot");
    src: url("../fonts/YellowBold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/YellowBold.woff2") format("woff2"),
         url("../fonts/YellowBold.woff") format("woff"),
         url("../fonts/YellowBold.ttf") format("truetype"),
         url("../fonts/YellowBold.svg#YellowBold") format("svg");
    font-weight: normal;
    font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  height: 3900px;
  width: 100%;
}

/*Home*/

#home {
  background-color: #E1CFCC;
  height: 802px;
  margin: 0px auto 0px auto;
  width: 100%;
}

.logo img {
  margin-top: 111px;
  width: 100%;
}

/*About*/

#about {
  height: 760px;
  margin: 20px auto 20px auto;
  width: 880px;
}

nav {
  background-color: white;
  font-size: 3em;
  height:55px;
  margin:0px auto;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  opacity: 1;
  border-bottom: 1px solid #E1CFCC;
  display: none;
}

nav a {
  font-family: "yellow", arial;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: #E1CFCC;
}

.skills {
  margin: auto;
}

.skills img {
  margin-top: 60px;
}

.abouttext {
  font-family: "yellow", arial;
  position:absolute;
  bottom: -656px;
}

.abouttext h1 {
  font-size: 5em;
  color: #C2BCC3;
}

.abouttext p {
  font-size: 3em;
  color: #C2BCC3;
}

/*Work*/

#work {
  background-color: #E1CFCC;
  height: 802px;
  margin: 42px auto 0px auto;
  width: 100%;
}

/*Social*/

#social {
  height: 800px;
  margin: 20px auto 20px auto;
  width: 880px;
  border: 2px dashed #E1CFCC;
}

#iconone {
  margin: 130px auto 0 auto;
  width: 752px;
  height:182px;
  text-align: center;
}

#iconone img {
  padding: 0 40px;
}

#connecttext {
  margin: auto;
  width: 715px;
  height:94px;
  text-align: center;
  padding: 50px 0px;
}

#connecttext h1{
  font-family: "yellow", arial;
  color: #E1CFCC;
  font-weight: bold;
  font-size: 5em;
  margin: auto;
}

span {
  font-family: "yellowbold", arial;
}

#icontwo {
  margin: auto;
  width: 752px;
  height:182px;
  text-align: center;
}

#icontwo img {
  padding: 0 40px;
}

/*Contact*/

#resume {
  width: 100%;
  height: 160px;
  text-align: center;
  font-family: 'yellow', arial;
  color: white;
  font-size: 2em;
  display: none;
}

#resume p {
  padding-top: 100px;
}

#resumeimage {
  text-align: center;
  width: 100%;
  height: 100px;
  margin: 77px auto 0px auto;
  display: none;
}

#contact {
  background-color: #E1CFCC;
  height: 803px;
  width: 100%;
}

.container {
  position: relative;
  width:493px;
  height:371px;
  margin: 0px auto;
  }

#contact .container form input,
#contact .container form textarea {
  width:450px;
  height:30px;
  padding:5px 10px;
  font-size: 12px;
  letter-spacing:1px;
  border:2px solid #FFF;
  margin-bottom:25px;
  }


#contact .container form textarea {
  height:150px;}

#contact .container form .submit {
  width:475px;
  padding:5px 10px;
  font-size: 12px;
  letter-spacing:1px;
  height:40px;
  text-transform:uppercase;
  letter-spacing:1px;
  color:#FFF;
  }

form {
  padding-top: 50px;
}

  ::-webkit-scrollbar {
    display: none;
}

