@charset "UTF-8";

@font-face {
    font-family: 'yellow_peas_demoregular';
    src: url('fonts/yellow peas demo-webfont.eot');
    src: url('fonts/yellow peas demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yellow peas demo-webfont.woff2') format('woff2'),
         url('fonts/yellow peas demo-webfont.woff') format('woff'),
         url('fonts/yellow peas demo-webfont.ttf') format('truetype'),
         url('fonts/yellow peas demo-webfont.svg#yellow_peas_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yellow_peas_bold';
    src: url('fonts/Yellow Peas Bold demo-webfont.eot');
    src: url('fonts/Yellow Peas Bold demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Yellow Peas Bold demo-webfont.woff2') format('woff2'),
         url('fonts/Yellow Peas Bold demo-webfont.woff') format('woff'),
         url('fonts/Yellow Peas Bold demo-webfont.ttf') format('truetype'),
         url('fonts/Yellow Peas Bold demo-webfont.svg#yellow_peas_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
  margin: 0;
  padding: 0;
}

#wrap {
  height: 3900px;
  width: 100%;
}

/*Home*/

#home {
  background-color: #E1CFCC;
  height: 802px;
  margin: 0px auto 0px auto;
  width: 956px;
}

.logo img {
  margin-top: 122px;
}

/*About*/

#about {
  height: 760px;
  margin: 20px auto 20px auto;
  width: 880px;
}

nav {
  background-color: white;
  font-size: 3em;
  height:55px;
  margin:0px auto;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 15px;
  z-index: 1;
  opacity: .9;

}

nav a {
  font-family: 'yellow_peas_demoregular', arial;
  padding: 0px 20px 0px 20px;
  text-decoration: none;
  color: #E1CFCC;
}

.skills {
  margin: auto;
}

.skills img {
  margin-top: 60px;
}

.abouttext {
  font-family: 'yellow_peas_demoregular', arial;
  position:absolute;
  bottom: -650px;
}

.abouttext h1 {
  font-size: 5em;
  color: #C2BCC3;
}

.abouttext p {
  font-size: 3em;
  color: #C2BCC3;
}

/*Work*/

#work {
  background-color: #E1CFCC;
  height: 802px;
  margin: 42px auto 0px auto;
  width: 956px;
}

/*Social*/

#social {
  height: 781px;
  margin: 20px auto 20px auto;
  width: 880px;
}

#iconone {
  margin: 160px auto 0 auto;
  width: 752px;
  height:182px;
  text-align: center;
  padding-top: 160px;
}

#iconone img {
  padding: 0 40px;
}

#connecttext {
  margin: auto;
  width: 715px;
  height:94px;
  text-align: center;
  padding: 50px 0px;
}

#connecttext h1{
  font-family: 'yellow_peas_demoregular', arial;
  color: #E1CFCC;
  font-weight: bold;
  font-size: 5em;
  margin: auto;
}

span {
  font-family: 'yellow_peas_bold', arial;
}

#icontwo {
  margin: auto;
  width: 752px;
  height:182px;
  text-align: center;
}

#icontwo img {
  padding: 0 40px;
}

#contact {
  background-color: #E1CFCC;
  height: 803px;
  margin: 20px auto 0px auto;
  width: 956px;
}


