.main {
  padding: 0px;
  margin: 0px;
}

.video {
  padding: 0px;
  margin: 0px;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.navbar-default .navbar-nav>li>a {
padding-top: 26px;
color: #ffffff;
font-family: 'Roboto';
font-weight: 100;
font-size: 20px;
}

.container-fluid>.navbar-header {
  height: 70px;
}

.navbar-default .navbar-toggle {
margin-top: 20px;
}

.navbar-default {
  background-image: none;
  background-color: rgba(255,255,255,0);
  box-shadow: none;
  margin-bottom: 0px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.title {
  background-color: rgba(255,255,255,0.0);
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.logo {
  margin-bottom: 150px;
  padding: 0px 100px 0px 100px;
}

p {
  text-align: center;
}