@charset "UTF-8";

@font-face {
    font-family: 'archivo_blackregular';
    src: url('..fonts/ArchivoBlack-Regular-webfont.eot');
    src: url('..fonts/ArchivoBlack-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/ArchivoBlack-Regular-webfont.woff2') format('woff2'),
         url('..fonts/ArchivoBlack-Regular-webfont.woff') format('woff'),
         url('..fonts/ArchivoBlack-Regular-webfont.ttf') format('truetype'),
         url('..fonts/ArchivoBlack-Regular-webfont.svg#archivo_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  margin: 0;
  padding: 0;
  background-image: url("../images/white_wall.png");
}

#wrap {
  width: 100%;
  height: 1100px;
  margin: auto;
}

#logo {
  height: 170px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.Mensa {
  float: left;
  margin-top: 65px;
  margin-left: 430px;
  font-size: 3em;
  color: #2D307A;
  font-family: 'archivo_blackregular', arial;
}

.NewYork {
  float: right;
  margin-top: 65px;
  margin-right: 355px;
  font-size: 3em;
  color: #2D307A;
  font-family: 'archivo_blackregular', arial;
}

nav {
  height: 50px;
  width: 100%;
  background-color: #2D307A;
  text-align: center;
  padding-top: 30px;
  font-family: 'archivo_blackregular'
}

nav a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  height: 56px;
  padding: 0px 50px;
  font-family: 'archivo_blackregular', arial;
}

nav a:hover{
  -webkit-stroke-width: 10px;
  -webkit-stroke-color: #087fda;
  -webkit-fill-color: #087fda;
  text-shadow: 1px 0px 20px #087fda;
}

#main {
  height:1100px;
  width: 100%;
  background-image: url("../images/white_wall.png");
}

#boardout {
  height: 900px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 39px;
  float: left;
  overflow: auto;
  box-shadow: 2px 2px 30px #aeaeae;
}

#tablewrap {
  width: 1100px;
  height: 1100px;
  margin: auto;
}

#localout {
  height: 500px;
  width: 450px;
  background-color: white;
  border-radius: 10px;
  float: right;
  margin-right: 60px;
  margin-top: 39px;
  overflow: auto;
  box-shadow: 2px 2px 30px #aeaeae;
}

h2 {
  padding-left: 135px;
  padding-top: 20px;
  color: #2D307A;
  font-family: 'archivo_blackregular', arial;
  font-size: 1.5em;
}

table, th, td {
  border: 1px;
  text-align: center;
  padding: 40px 10px 10px 10px;
  font-family: 'archivo_blackregular', arial;
  color: gray;
  margin-left: 15px;
  margin-right: 15px;
}

tr {
  border-bottom: 1px solid rgba(209, 210, 212, 0.5);
}

footer {
  height: 70px;
  width: 100%;
  background-color: #2D307A;
  text-align: center;
}

footer img {
  margin-top: 10px;
}

.pleft {
  height: 55px;
  width: 500px;
  float: left;
  color: white;
  font-size: 1.2em;
  margin-top: 25px;
  margin-left: 100px;
  font-family: 'archivo_blackregular', arial;
}

.pright {
  height: 55px;
  width: 500px;
  float: right;
  color: white;
  font-size: 1.2em;
  margin-top: 25px;
  margin-right: 100px;
  font-family: 'archivo_blackregular', arial;
}